.kris-qanda{
  font-family: Helvetica, sans-serif;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  /* width: 100%; */
  margin: 15px 0px 15px 30px;
  max-width: 1500px;
}

.kris-qanda-Inner{
  margin-left: auto;
  margin-right: auto
}

.kris-qaTitle{
  font-size: 32px;
  color: #353535;
  /* margin: 0px 0px 30px 5%; */
}

.kris-SearchBar{
  width: 50%;
  font-size: 16;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.kris-Answer{
  border: 1px solid white;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 15%);
  margin: 10px;
}

.kris-AnswerBody{
  margin-top: 10px;
  margin-bottom: 10px;
}

.kris-inputButtons{
  margin: 10px;
  background-color: #F76C5E;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  width: 120px;
  height: 35px;
}

.kris-answerReported{
  margin: 10px;
  background-color: #3C6E71;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.kris-questionHelpful{
  margin: 10px;
  background-color: #3C6E71;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.kris-questionReported{
  margin: 10px;
  background-color: #3C6E71;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.kris-qaItem{
  border: 1px solid white;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 15%);
  margin: 10px;
  background-color: #F5F5F5;
}

.kris-AnswerAuth{
  display: inline;
}

.kris-qNav{
  display: block;
}

.kris-aNav{
  display: block;
}

.kris-QuestionBody {
  display: inline;
}

.kris-modal{
  position: fixed;
  padding: 30px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.kris-modal-content{
  width:500px;
  background-color: #fff;
}

.kris-modal-header, .kris-modal-footer{
  padding: 10px;
}

.kris-modal-title{
  margin: 0;
}

.kris-modal-body{
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px;
}

.kris.modal-input-question{
  width: 300px;
  height: 150px;
}

.navButton {
  background-color: black;
  border: none;
  color: white;
  height: 40px;
  width: 150px;
  margin: 5px 10px 5px 0px;
  text-align: center;
  display: inline;
  font-size: 15px;
  cursor: pointer;
}