.kris-qanda{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  font-family: Helvetica, sans-serif;
  justify-content: center;
  background-color: #F5F5F5;
  width: 100%;
}
.kris-p{
  font-size: medium;
  font-weight: 500;
}

.kris-p-small{
  font-size: x-small;
}

.kris-qanda-Inner{
  max-width: 1500px;
  width: -webkit-fill-available;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.kris-qaTitle{
  font-size: 32px;
  color: #353535;
  /* margin: 0px 0px 30px 5%; */
}

.kris-SearchBar{
  width: 50%;
  font-size: 16;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.kris-Answer{
  border: 1px solid white;
  border-radius: 10px;
  padding-left: 30px;
  /* box-shadow: 0px 5px 10px rgb(0 0 0 / 15%); */
  margin: 10px;
}

.kris-AnswerBody{
  margin-top: 10px;
  margin-bottom: 10px;
}

.kris-inputButtons{
  margin: 10px 10px 10px 0px;
  background-color: #F76C5E;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  width: 110px;
  height: 25px;
  cursor: pointer;
}

.kris-answerReported{
  margin: 10px;
  background-color: #3C6E71;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.kris-questionHelpful{
  margin: 10px;
  background-color: #3C6E71;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.kris-questionReported{
  margin: 10px;
  background-color: #3C6E71;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.kris-qaItem{
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 15%);
  margin: 10px;
  background-color: white;
}

/* .kris-AnswerAuth{
  display: inline;
} */

.kris-qNav{
  display: block;
}

.kris-aNav{
  display: block;
}

.kris-QuestionBody {
  display: inline;
  font-size: x-large;
  font-weight: 600;
}

.kris-modal{
  position: fixed;
  padding: 30px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.kris-aModalNav{
  padding: 15px;
}

.kris-modal-content{
  width:750px;
  background-color: #fff;
}

.kris-modal-header, .kris-modal-footer{
  padding: 15px;
}

.kris-modal-header{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.kris-modal-footer{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.kris-modal-title{
  width:250px;
  margin-bottom: 10px;
}

.kris-modal-body{
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 15px;
}

textarea  {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  resize: none;
}

.kris-modal-aAnswer,
.kris-modal-aNickname,
.kris-modal-aEmail,
.kris-modal-qQuestion,
.kris-modal-qNickname,
.kris-modal-qEmail{
  margin-bottom:10px;
}

.kris-modal-input-question{
  width: -webkit-fill-available;
  margin-top: 5px;
  height: 70px;
}

.kris-modal-input-nickname,
.kris-modal-input-email{
  width: -webkit-fill-available;
  margin-top: 5px;
  height: 20px;
}

.kris-answer-photo{
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 15px;
  margin: 10px 10px 10px 0px;
  cursor: pointer;
  object-fit: cover;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 15%);
}

/* .kris-fileUploadButton{
  margin: 10px 10px 10px 0px;
  background-color: #F76C5E;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  width: 110px;
  height: 25px;
  cursor: pointer;
} */

input[type="file"] {
  display: none;
}

.custom-file-upload {
  margin: 10px;
  background-color: #F76C5E;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  width: 100px;
  height: 15px;
  cursor: pointer;
}

.kris-fileUpload{
  padding: 15px;
}


.navButton {
  margin: 10px;
  background-color: #F76C5E;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  width: 120px;
  height: 35px;
  cursor: pointer;
}