.eric-RR-container {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

.eric-RR-breakDown {
  flex-direction: column;
  gap: 30px;
}

.eric-RR-productRatingContainer {
  border: .5px solid black;
  height: 350px;
  width: 350px;
}

.eric-RR-productAverageText {
  font-size: 45px;
  font-weight: bold;
  margin-right: 10px;
}

.eric-RR-productRatingAverage {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.eric-RR-productBreakdown {
  border: .5px solid black;
  border-top: 0px solid;
  height: 250px;
  width: 350px;
}

.eric-RR-sortReviews {
  height: 50px;
  width: 200px;
}

.eric-RR-sortedby select {
  border: 0px;
  outline: 0px;
  text-decoration: underline;
}

.eric-RR-sortContainer {
  display: flex;
  flex-direction: column;
}

.eric-RR-sortBottomNavBar {
  display: flex;
  flex-direction: row;
}

.eric-RR-tileEntryContainer {
  display: flex;
  flex-direction: column;
  border: .5px solid black;
  border-top: 0px solid;
  border-left: 0px solid;
  border-right: 0px solid;
  margin-bottom: 8px;
  height: 200px;
  width: 500px;
}

.eric-RR-tileRatingAndUsername {
  display: flex;
  flex-direction: row;
  height: 20%;

}

.eric-RR-tileRating {
  margin: 5px;
  height: 15px;
  width: 60%;
}

.eric-RR-tileUsername {
  margin: 5px;
  height: 15px;
  width: 40%;
}

.eric-RR-tileMainBody {
  height: 40%
}

.eric-RR-tileSummary {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 18.5px;
  font-weight: bold;
}

.eric-RR-tileResponseAndHelpful {
  height: 40%;
}

.eric-RR-tileResponse {
  background-color: lightgray;
  border-radius: 30px;
}

.eric-RR-tileHelpful a{
  text-decoration: underline;
}